<ul class="flex flex-wrap justify-around sm:py-1 font-mono text-xs
  md:text-base">
  <NavButton @route="about">ABOUT US</NavButton>
  <NavButton @route="services">SERVICES</NavButton>
  <NavButton>
    <a href="https://goo.gl/maps/AiBRVkzyqi12CE2K6" target="_blank"
      rel="noopener">
      DIRECTIONS
    </a>
  </NavButton>
  <NavButton @route="specials">SPECIALS</NavButton>
  <NavButton @route="contact">CONTACT US</NavButton>
</ul>