<ul class="flex">
  <NavButton><LinkTo @route="about">About Us</LinkTo></NavButton>
  <NavButton><LinkTo @route="services">Services</LinkTo></NavButton>
  <NavButton>
    <a href="https://goo.gl/maps/AiBRVkzyqi12CE2K6">Directions</a>
  </NavButton>
  <NavButton><LinkTo @route="specials">Specials</LinkTo></NavButton>
  <NavButton><LinkTo @route="contact">Contact Us</LinkTo></NavButton>
</ul>