<div class="py-2 flex justify-center">
  <h1 class="px-4 text-center text-4xl font-bold border-white border-2 w-2/3
    bg-blue-600 hover:bg-blue 600 rounded-full px-4 ">
    Le's Story
  </h1>
</div>

<h2 class="px-8 font-bold text-2xl text-center">
  A father, son team
</h2>

<div class="px-4 py-4 text-2xl text-left">

  <p class="px-4 py-2">
    Founded in 1980, Le Phan saw a vision of building a quality, full-service
    gas station and auto repair shop. He first set up shop in his home garage in
    early 1980. In less than two years, Le had enough business to quit his full
    time mechanic job at a local garage, and purchase a two-stall garage on
    Front Street in the Como Park area of St. Paul, MN. In January 1982 Le's
    Auto Service opened it's doors.
  </p>

  <p class="px-4 py-2">
    As his business grew, Le needed to find more space to meet his growing
    business needs. In July 1992, Le moved his business to its current location
    at 468 University Avenue in St. Paul, MN.
  </p>

  <p class="px-4 py-2">
    In 1999, Le's  son, Robert, at age 15, joined the team. The father and son
    team dedicated themselves to providing their customers with the highest
    quality, professional automobile maintenance and repair. Robert "Bob" became
    manager of Le's Auto Tech a few years later.
  </p>

  <p class="px-4 py-2">
    In August 2014 Bob took over ownership of the shop. Whether it's an exhaust
    problem, or taking a python from beneath the dash board, Bob puts his heart
    and soul into his work.
  </p>

  <div class="py-2 flex justify-center">
    <h2 class="px-4 text-center text-4xl font-bold border-white border-2 w-2/3
      bg-blue-600 hover:bg-blue 600 rounded-full px-4 ">
      MISSION STATEMENT
    </h2>
  </div>

  <p class="px-4 py-2 text-center">
    To perform honest and quality work and to make sure the job is done right
    the first time.
    <br>
    Customer satisfaction is our #1 priority!
  </p>

</div>
