<div class="bg-gray-500 min-h-screen">
  <div class="container mx-auto border-white border-solid border-2">
    <div class="bg-red-800 text-white pl-4 font-modern font-bold py-2">
      Serving our customers for over {{this.years}} years.
    </div>

    <div class="flex">
      <div class="bg-gray-500 flex-1 text-center flex flex-col">
        <h1 class="font-logo text-blue-500 text-lg sm:text-2xl md:text-3xl
          lg:text-4xl xl:text-6xl tracking-tight py-3 bg-gray-400">
          <LinkTo @route="index">LE'S AUTO TECH</LinkTo>
        </h1>
        <div class="bg-blue-800 text-white leading-loose sm:text-xl
          flex-grow flex flex-wrap content-around">
          <span class="md:text-xl px-2 flex-grow">
            <a href="tel:651-222-2337">(651) 222-2337</a>
          </span>
          <span class="px-2 flex-grow">Complete Auto Repairs</span>
          <span class="flex-grow font-bold px-2">Foreign & Domestic</span>
        </div>
      </div>
      <div class="bg-white flex-1 text-center py-4 text-deep-blue flex flex-col
      justify-center">
        <span class="text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl
          font-bold font-mono">
          <a href="tel:651-222-2337">651-222-2337</a>
        </span>
        <span class="italic">An auto shop you can trust!!</span>
        <span class="text-red-700 font-serif sm:text-xl">ASE Certified</span>
        <span class="italic">
          An auto shop you'll tell your friends about.
        </span>
      </div>
    </div>

    <div class="bg-deep-blue h-6 border-white border-solid border-b-2
      border-t-2"></div>

    <NavBar />

    <div class="border-white border-solid border-t-2 flex flex-col-reverse lg:flex-row">
      <div class="flex lg:flex-col lg:w-1/5 justify-between">
        <div class="max-w-xs">
          <img src="images/les-background.jpg" alt="Le's Garage">
        </div>
      </div>
      <div class="px-4 flex-1">
        {{outlet}}
      </div>
    </div>
  </div>
</div>