<div class="bg-gray-500 min-h-screen">
  <div class="container mx-auto border-white border-solid border-2">
    <div class="bg-red-800 text-white pl-4">Serving our customers for over {{this.years}} years.</div>
    <div class="flex">
      <div class="bg-gray-500 flex-1 text-center">
        <h1 class="block font-logo text-blue-800 text-6xl tracking-tight">LE'S AUTO TECH</h1>
        <div class="block bg-blue-800 text-white leading-loose text-xl">
          <span class="pr-2"><a href="tel:651-222-2337">(651) 222-2337</a></span>
          <span>Complete Auto Repairs</span>
          <span class="font-bold pl-2">Foreign & Domestic</span>
        </div>
      </div>
      <div class="bg-white flex-1 text-center py-4 text-blue-800">
        <span class="block text-xl font-bold font-mono"><a href="tel:651-222-2337">651-222-2337</a></span>
        <span class="block italic">An auto shop you can trust!!</span>
        <span class="block text-red-700 font-serif text-xl">ASE Certified</span>
        <span class="block italic">An auto shop you'll tell your friends about.</span>
      </div>
    </div>

    {{outlet}}

  </div>

</div>