<div class="bg-blue-800 min-h-screen flex flex-col">
  <div class="container mx-auto border-white border-2 flex flex-col
    flex-grow bg-gray-500">
    <div class="bg-red-800 text-white pl-4 font-modern font-bold py-2">
      Serving our customers for over {{this.years}} years.
    </div>

    <div class="flex">
      <div class="bg-gray-500 flex-1 text-center flex flex-col">
        <h1 class="font-logo text-blue-500 text-lg sm:text-2xl md:text-3xl
          lg:text-4xl xl:text-6xl tracking-tight py-3 bg-gray-400">
          <LinkTo @route="index">LE'S AUTO TECH</LinkTo>
        </h1>
        <div class="bg-blue-800 text-white leading-loose sm:text-xl
          flex-grow flex flex-wrap content-around">
          <span class="md:text-xl px-2 flex-grow">
            <a href="tel:651-222-2337">(651) 222-2337</a>
          </span>
          <span class="px-2 flex-grow">Complete Auto Repairs</span>
          <span class="flex-grow font-bold px-2">Foreign & Domestic</span>
        </div>
      </div>
      <div class="bg-white flex-1 text-center py-4 text-deep-blue flex flex-col
        justify-center">
        <span class="text-xl sm:text-2xl md:text-3xl lg:text-4xl xl:text-5xl
          font-bold font-mono">
          <a href="tel:651-222-2337">651-222-2337</a>
        </span>
        <span class="italic">An auto shop you can trust!!</span>
        <span class="text-red-800 font-serif sm:text-xl">ASE Certified</span>
        <span class="italic">
          An auto shop you'll tell your friends about.
        </span>
      </div>
    </div>

    <div class="bg-deep-blue h-6 border-white border-b-2
      border-t-2">
    </div>

    <NavBar />

    <div class="border-white border-t-2 h-full flex
      flex-col-reverse lg:flex-row flex-grow">
      <div class="flex flex-col sm:flex-row lg:flex-col lg:w-1/4 xl:w-1/5
        bg-blue-200 items-center lg:border-white lg:border-r-2">
        <div class="text-center font-serif flex-1">
          <p class="font-bold">Hours</p>
          <p class="underline">Monday - Friday</p>
          <p>8:00 am - 5:30 pm</p>
          <p class="pt-4 underline">Saturday & Sunday</p>
          <p>Closed</p>
        </div>
        <div class="flex-1 sm:px-2 lg:px-0">
          <img class="border-2 border-deep-blue" src="images/les-background.jpg"
            alt="Le's Garage">
        </div>
        <div class="py-2 flex-1 sm:px-2 lg:px-0">
          <img src="images/facebook.png" alt="Find us on Facebook">
        </div>
        <div class="flex-1">
          <img class="border-2 border-deep-blue" src="images/visa-mc.png"
            alt="We accept Visa and MasterCard">
        </div>
      </div>
      <div class="px-4 flex-1 border-white border-b-2 lg:border-none">
        {{outlet}}
      </div>
    </div>

    <div class="bg-deep-blue p-2 border-t-2 border-white flex flex-wrap
      items-center justify-around">
      <div class="text-white font-serif px-4">
        Copyright ©{{this.currentYear}}  www.lesautotech.com. All Rights
        Reserved
      </div>
      <div class="text-blue-200 font-mono text-xs px-4">
        Website powered by
        <a class="hover:text-yellow-300" href="https://aliencyb.org"
          target="_blank" rel="noopener">
          AlienCyborg
        </a>
      </div>
    </div>
  </div>
</div>
