{{outlet}}

<!-- I think we can put direction here as well and combine the pages-->
<!-- possibly even move content to about page-->

<h1>GIve us a holler!</h1>

<p>We do are best to answer the phones, but sometimes it gets busy, please
    leave a detailed message, and phone number, or preferred method of contact,
    and we will get back to you right away.

</p>
<h2>651.222.2337</h2>

<h2>Email us! The best way!</h2>

<p>Please gives us an email describe the issue or service,
    of inquiry. Please describe any sounds, or times you notice he problem.
    Also please include Make, model, year, color and any other related describtion.
    And let us know what best time and method of Contact.
</p>
<h3>info@lesautotech.com</h3>

<h1>How to find us!</h1>

<p>Le's Auto Tech

468 University Avenue W.

St. Paul, MN 55103</p>

<h2>Map links!</h2>

<a href="https://goo.gl/maps/2iVvaS7ijSJ1Gj9P6"> Google maps</a>
<a href="https://www.waze.com/ul?ll=44.95557430%2C-93.11981630&navigate=yes">Waze maps</a>
<a href="http://mapq.st/2ifQJ6T">Mapquest?</a>
    <p>I know right! who knew they were still around!</p>

    
