<div class="bg-blue-200 text-center flex-1 p-4">
  <h1>Contact</h1>

  {{ outlet }}

  <div>
    <p>
      Email us at
      <a href="email:lesautotech651@outlook.com">lesautotech651@outlook.com</a>
    </p>
  </div>

  <div class="flex flex-col items-center py-6">
    <CommentForm @submitComment={{this.submitComment}}
      @errorMessages={{this.errorMessages}}
      @comment={{this.model}} />
  </div>
</div>
