<div class="lg:text-xl bg-blue-200 my-2 p-2 max-w-lg">
  <h2 class="font-bold">
    We value our customers!
  </h2>
  <p class="pb-2">
    Le's Auto Tech is the success it is today, because of
    our customers.
  </p>
  <p class="pb-2">
    Since 1981, our number one priority has been to give superb, quality and
    honest service.
  </p>
  <p>
    Word of mouth has been our main source of advertisement, for which we are
    very grateful. Please take a moment to give Le's Auto Tech a review by
    visiting
    <a href="https://www.customerlobby.com/reviews/37015/le-s-auto-tech"
      target="_blank" rel="noopener" class="text-deep-blue
      hover:text-orange-600">
      Customer Lobby</a>,
    <a href="https://www.yelp.com/biz/les-auto-tech-saint-paul" target="_blank"
      rel="noopener" class="text-deep-blue hover:text-orange-600">
      Yelp
    </a>,
    <a
      href="http://www.citysearch.com/profile/5520556/saint_paul_mn/le_s_auto_tech.html"
      target="_blank" rel="noopener" class="text-deep-blue
      hover:text-orange-600">
      City Search, or
    </a>
    <a href="https://goo.gl/maps/Dvg9LSfJqDBeeGeD8" target="_blank"
      rel="noopener" class="text-deep-blue hover:text-orange-600">
      Google Places
    </a>.
  </p>
</div>
<div class="py-6 text-xs sm:text-sm md:text-md lg:text-lg xl:text-xl
  text-red-700 font-bold font-mono italic text-center">
  ** Specializing in Japanese automobiles **
</div>