
<!--<h2><div class="bg-red-800 text-white pl-4" >Serving our customers for over {{this.years}} years.</div>
</h2>-->
<div class="bg-local" style="background-image:images/jumpercables.JPG"> <!--what we do div-->
    <!--possibly add bacground image here-->

    <h1 class="font-ariel font-bold text-blue-700 text-3xl px-4 py-2">Specializing in Japanese automobiles</h1>

    <h2 class="font-sans text-lg lg:text-2xl px-4">We fix Everything Auto related. Bumper to bumper. Foreign and Domestic. We use superior diagnostic equipment that takes the guess work out of your vehicle problems. </h2>


    <ul class="px-12 list-disc text-xl">
        <li>Fast, same-day service for most vehicles repairs</li>

        <li>Clean and efficient shop.</li>

        <li>Clean waiting area with television</li> <!--note if have wifi or netflix ect-->
    </ul>



</div>

<div class="py-1 px-4" >
  <div class="flex flex-col lg:flex-row mx-2">
    <div class="lg:w-1/3 px-4"> <!--undercarriage-->
        <ServiceDropdown @serviceName="Undercarriage">
            <ul class="list-disc">
                <li>Steering</li>
                <li>Suspension</li>
                <li>Exhaust</li>
                <li>Axels, bearings</li>
                <li>Brakes</li>
                <li>Tires and Wheels</li>
            </ul>
        </ServiceDropdown>
    </div>

    <div class="lg:w-1/3 px-4">
        <ServiceDropdown @serviceName="Under the hood">
            <ul class="list-disc">
                <li>Engine transmission</li>
                <li>Belts</li>
                <li>Starters, Altenators, and Batteries</li>
                <li>Electrical</li>
            </ul>
        </ServiceDropdown>
    </div>

    <div class="lg:w-1/3 px-4"> <!--interior-->
        <ServiceDropdown @serviceName="Interior" >
            <ul class="list-disc">
                <li>Heating, and Air conditioning</li>
                <li>Electrical</li>
                <li>Upholstery????</li>
            </ul>
        </ServiceDropdown>
    </div>
    </div>
    <!--below drop menu I think another image would be good even if it's ugly-->


</div>




