{{outlet}}


<div class="py-2 flex justify-center">
    <button class="px-4 text-center text-4xl font-bold border-white border-2 w-2/3 bg-blue-600 hover:bg-blue 600 rounded-full px-4 ">
        Stay tuned for upcoming Specials!!!
    </button> <!--I want the blue here to math the dark blue of nav buttons-->
</div>